p {
    color: rgb(228, 228, 151);
    font-size: small
    background-color: rgb(174, 136, 136);
    border: solid honeydew 1px;
    padding: 20px;
    margin: 10px;
}

p {
    font-size: large
}

p {
    font-size: large
}
.special {
    margin-top: 50px;
}